name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        os:
          - name: 'linux'
            image: 'ubuntu-latest'
          - name: 'windows'
            image: 'windows-latest'
          - name: 'macos'
            image: 'macos-latest'
        python: [ '3.6', '3.8', '3.9', 'pypy-3.6', 'pypy-3.7' ]
        pytest: [ '6.0', '6.1', '6.2' ]
        xdist: [ '1.29', '1.34', '2.0', '2.2' ]

    runs-on: ${{ matrix.os.image }}

    name: ${{ matrix.os.name }} - py ${{ matrix.python }} - pytest ${{ matrix.pytest }} - xdist ${{ matrix.xdist }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Set up pip cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ matrix.os.name }}-pip

      - name: Set up tox cache
        uses: actions/cache@v2
        with:
          path: .tox
          key: ${{ matrix.os.name }}-py${{ matrix.python }}-pytest${{ matrix.pytest }}-xdist${{ matrix.xdist }}-tox

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions

      - name: Run tests
        run: tox
        env:
          PYTEST: ${{ matrix.pytest }}
          XDIST: ${{ matrix.xdist }}

      - name: Publish code coverage to CodeClimate
        uses: paambaati/codeclimate-action@v2.7.5
        if: matrix.os.name == 'linux' && matrix.python == '3.9' && matrix.pytest == '6.2' && matrix.xdist == '2.2'
        continue-on-error: true
        with:
          coverageLocations: ${{github.workspace}}/build/tests/*/reports/coverage.xml:coverage.py
        env:
          CC_TEST_REPORTER_ID: cf8ac006a2813485a032de53d61605e1879bd399959e3b4d9ced3b39074410ea
